[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
cloudformation-cli-python-lib = {editable = true,git = "https://github.com/aws-cloudformation/aws-cloudformation-rpdk-python-plugin.git",subdirectory = "src"}
typing-inspect = "*"

[requires]
python_version = "3.7"
